.TEMP {
    width: 100vw;
    height: 36vh;
    border: black solid 2px;
    position: absolute;
    top: 60%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
}

.tablesROW {
    margin: 0;
    padding: 0;
}

.boardBTNs {
    height: 100%;
    width: 100%;
    margin: 0;
}

.col-1 {
    padding: 0;
}
/* .boardBTNszeros {
    height: 50%;
    width: 5%;
    
} */

/*#z00 {
    position: relative;
    top: 0%;
    left: 0%;

}

#z03 {
    position: relative;
    top: 0%;
    left: 6%;
}

#z06 {
    position: relative;
    top: 0%;
    left: 12%;
}

#z0 {
    position: relative;
    top: 50%;
    left: 0%;
} */